header
  height: 90px
  .logo
    float: left
    margin: 30px
    font:
      size: 24px
      weight: 700
    a
      display: inline-block
      color: rgba(0,0,0,1)
      &:hover
        color: $accent-color
  nav
    float: right
    margin: 30px 30px 0 0
    a
      display: inline-block
      margin-left: 20px
      color: rgba(0,0,0,1)
      font:
        size: 24px
        weight: 700
      &:hover
        color: $accent-color

@media (max-width: 768px)
  header
    .logo
      margin: 10px 30px 0px 0px
    nav
      margin: 0px
      margin-top: 18px
      float: left
      a
        margin-left: 0px
        margin-right: 20px
        font:
          size: 16px

#dismissible-banner 
  background-color: $banner-background-color 
  color: #721c24
  padding: 15px
  text-align: center
  top: 0
  left: 0
  z-index: 1000
  display: flex
  justify-content: space-between
  align-items: center

  p
    margin: 0 0 0 0;
  a
    cursor: pointer

#dismiss-button 
  background-color: transparent
  border: none
  color: #721c24
  font-size: 1.2em
  cursor: pointer
  padding: 5px 10px

